---
import Text2 from "@/components/Text2.astro";
import Home from "@/components/Home";
import Layout from "../layouts/Layout.astro";
import Experience from "@/components/Experience";
import OurWork from "@/components/OurWork";
---

<Layout>
	<Home client:load />
	<div class="w-full text-white">
		<svg
			viewBox="0 0 1440 60"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			class="w-full h-16 text-[#965d24]"
		>
			<path
				d="M0 30 C300 60, 1140 0, 1440 30"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"></path>
		</svg>
	</div>
	<div class="py-24 w-full flex flex-col px-4 md:px-24">
		<span class="self-start text-5xl font-bold font-fancy">01</span>
		<p
			class="leading-12 md:leading-14 text-[clamp(1.8rem,2vw,3rem)] px-4 max-w-5xl self-end"
		>
			We don’t just shape how brands look—we shape how they live. From our home
			in Miami, we build spaces where brands breathe culture, foster dialogue,
			and become part of something <span
				class="bg-[#965d24] text-white font-fancy">bigger</span
			>.
		</p>
	</div>

	<p
		class="text-[clamp(3rem,4vw,5rem)] self-center bg-[#965d24] w-full text-center text-black py-8 font-fancy"
	>
		Build a brand <span
			class="text-auto text-white font-bold bg-[#965d24] md:py-14 border border-[#965d24] md:relative"
			>they remember</span
		>
	</p>

	<OurWork client:load />

	<Experience client:load />
	<Text2 />
</Layout>
