---
import Home from "@/components/Home";
import Layout from "../layouts/Layout.astro";
import InfiniteCarousel from "@/components/InfiniteCarousel";
import OurWork from "@/components/OurWork";
---

<Layout>
	<Home client:load />
	<div
		class="py-24 text-4xl md:text-5xl max-w-5xl flex justify-center items-center"
	>
		<p class="leading-14">
			We don’t just shape how brands look—we shape how they live. From our home
			in Miami, we build spaces where brands breathe culture, foster dialogue,
			and become part of something <span class="bg-[#965d24]">bigger</span>.
		</p>
	</div>
	<OurWork client:load />
	<InfiniteCarousel client:load />
</Layout>
