---
import Layout from "@/layouts/Layout.astro";
import "@/styles/index.css";
---

<Layout>
  <div class="flex flex-col pt-24">
    <span class="self-end text-xs">Service</span>
    <div
      class="text-[clamp(1.25rem,4vw,2rem)] xl:text-[calc(1rem+2vw)] space-y-24"
    >
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque
        reprehenderit provident suscipit, sequi itaque fuga dignissimos earum
        fugit reiciendis illo dolorem? Iure tempora quis saepe voluptas autem
        officiis vero.
      </p>
      <p class="text-right">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore tempora
        sit minus ipsam, vel dicta eveniet consequatur exercitationem culpa quae
        eius officiis assumenda est aliquid fugit repellendus recusandae
        deleniti quasi.
      </p>
    </div>
  </div>
</Layout>
