---
import Line from "@/components/Line.astro";
import WhatWeDoBlock from "@/components/WhatWeDoBlock.astro";
import Layout from "@/layouts/Layout.astro";
import {
  CircleQuestionMark,
  Clapperboard,
  Component,
  Keyboard,
  Megaphone,
  Pencil,
  PersonStanding,
  Smartphone,
  Utensils,
} from "lucide-react";
---

<Layout>
  <main
    class="min-h-screen flex flex-col items-center py-24 px-4 md:px-24 w-full"
  >
    <Line />
    <div
      class="flex flex-col md:flex-row justify-center md:justify-around items-center text-center w-full gap-8 md:gap-0"
    >
      <CircleQuestionMark
        size={80}
        strokeWidth={1}
        className="text-[#dbdbdb] md:self-center "
      />
      <div class="order-1 md:order-2">
        <h1
          class="text-[#dbdbdb] font-fancy text-[clamp(2rem,6vw,4rem)] md:text-[clamp(3rem,4vw,5rem)] mb-4 md:mb-6"
        >
          What <span class="bg-[#965d24] px-2">we do</span>
        </h1>
        <p
          class="text-white/70 text-base md:text-lg text-center md:text-right leading-relaxed max-w-xs md:max-w-lg"
        >
          We specialize in creating compelling visual content that elevates your
          brand and drives engagement.
        </p>
      </div>
    </div>

    <Line />

    <div class="w-full flex flex-col mt-8 space-y-16">
      <!-- 1 -->
      <section class="flex flex-col w-full text-left">
        <h2
          class="font-fancy text-[clamp(2rem,3vw,5rem)] text-[#dfb968] flex items-center gap-8 w-fit"
        >
          <span class="text-4xl text-[#dbdbdb]">01</span> Social Media Content
        </h2>
        <p
          class="leading-12 md:leading-14 text-[clamp(1.3rem,2vw,3rem)] px-4 text-[#dbdbdb]"
        >
          Short-form videos, reels, and photos <br /> tailored for virality and engagement.
        </p>
      </section>

      <!-- 2 -->

      <section class="flex flex-col w-full md:text-right">
        <h2
          class="font-fancy text-[clamp(2rem,3vw,5rem)] text-[#dfb968] flex md:self-end items-center gap-8 w-fit"
        >
          <span class="text-4xl text-[#dbdbdb]">02</span> Community Management
        </h2>
        <p
          class="leading-12 md:leading-14 text-[clamp(1.3rem,2vw,3rem)] px-4 text-[#dbdbdb] max-w-3xl md:self-end"
        >
          We run your Instagram, Facebook TikTok, including stories, captions,
          engagement, and growth.
        </p>
      </section>

      <!-- 3 -->

      <section class="flex flex-col w-full text-left">
        <h2
          class="font-fancy text-[clamp(2rem,3vw,5rem)] text-[#dfb968] flex items-center gap-8 w-fit"
        >
          <span class="text-4xl text-[#dbdbdb]">03</span> Graphic Design
        </h2>
        <p
          class="leading-12 md:leading-14 text-[clamp(1.3rem,2vw,3rem)] max-w-3xl px-4 text-[#dbdbdb]"
        >
          Logos, branding kits, printed materials, social posts, menus, and
          more.
        </p>
      </section>

      <!-- 4 -->

      <section class="flex flex-col w-full md:text-right">
        <h2
          class="font-fancy text-[clamp(2rem,3vw,5rem)] text-[#dfb968] flex items-center md:self-end gap-8 w-fit"
        >
          <span class="text-4xl text-[#dbdbdb]">04</span> Google & Meta Ads
        </h2>
        <p
          class="leading-12 md:leading-14 text-[clamp(1.3rem,2vw,3rem)] max-w-3xl px-4 md:self-end text-[#dbdbdb]"
        >
          Ad creation, setup, audience targeting, and monthly analytics reports.
        </p>
      </section>

      <!-- 5 -->

      <section class="flex flex-col w-full text-left">
        <h2
          class="font-fancy text-[clamp(2rem,3vw,5rem)] text-[#dfb968] flex items-center gap-8 w-fit"
        >
          <span class="text-4xl text-[#dbdbdb]">05</span> Professional Photography
          & Video
        </h2>
        <p
          class="leading-12 md:leading-14 text-[clamp(1.3rem,2vw,3rem)] max-w-3xl px-4 text-[#dbdbdb]"
        >
          We capture your story, brand, and services with cinematic quality.
        </p>
      </section>

      <!-- 6 -->

      <section class="flex flex-col w-full md:text-right">
        <h2
          class="font-fancy text-[clamp(2rem,3vw,5rem)] text-[#dfb968] md:self-end flex items-center gap-8 w-fit"
        >
          <span class="text-4xl text-[#dbdbdb]">06</span> Menu Design & Digital Screens
        </h2>
        <p
          class="leading-12 md:leading-14 text-[clamp(1.3rem,2vw,3rem)] max-w-3xl md:self-end px-4 text-[#dbdbdb]"
        >
          We design your physical and digital menus, including setup for display
          TVs.
        </p>
      </section>
      <!-- 7 -->

      <section class="flex flex-col w-full text-left">
        <h2
          class="font-fancy text-[clamp(2rem,3vw,5rem)] text-[#dfb968] flex items-center gap-8 w-fit"
        >
          <span class="text-4xl text-[#dbdbdb]">07</span> App Setup & Management
        </h2>
        <p
          class="leading-12 md:leading-14 text-[clamp(1.3rem,2vw,3rem)] max-w-3xl px-4 text-[#dbdbdb]"
        >
          We create, optimize, and manage your presence on DoorDash, Uber Eats,
          Grubhub, and others.
        </p>
      </section>
    </div>
    <div class="mt-20 self-center">
      <h2
        class="text-[clamp(2rem,3vw,5rem)] font-bold text-[#965d24] mb-6 text-left"
      >
        Ready to <span class="text-[#dbdbdb]">elevate</span><br /> your online presence?
      </h2>

      <button
        class="border border-[#965d24] text-[#dbdbdb] text-lg font-medium px-6 py-4 bg-[#965d24] rounded-lg hover:bg-[#dfb968] hover:text-white transition-colors cursor-pointer"
      >
        <a href="/form"> Fill up a quick form </a>
      </button>
    </div>
  </main>

  <!-- Call to Action Section -->
</Layout>
