---
import Line from "@/components/Line.astro";
import Layout from "@/layouts/Layout.astro";
import { Camera } from "lucide-react";
import HomeOurWorkCard from "@/components/Home/HomeOurWorkCard.astro";
---

<Layout>
  <main class="w-full py-24 px-4 relative">
    <Line />
    <div
      class="flex flex-col md:flex-row justify-center md:justify-around items-center text-center w-full gap-8 md:gap-0"
    >
      <div class="border border-4 border-light p-6 rounded-full">
        <Camera
          size={80}
          strokeWidth={1}
          className="text-light md:self-center "
        />
      </div>

      <div class="order-1 md:order-2">
        <h1
          class="text-light font-fancy text-[clamp(2rem,6vw,4rem)] md:text-[clamp(3rem,4vw,5rem)] mb-4 md:mb-6"
        >
          Our work
        </h1>
        <p
          class="text-white/70 text-base md:text-lg text-center md:text-right leading-relaxed max-w-xs md:max-w-lg"
        >
          A showcase of our work.
        </p>
      </div>
    </div>
    <Line />

    <section
      class="grid grid-cols-1 md:grid-cols-2 gap-8 max-w-[1440px] mx-auto"
    >
      <HomeOurWorkCard
        work="restaurants"
        to="restaurants"
        bgImg="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_BAE672AA-DD70-4F4E-B649-425B25330F4D_f1vtb4.mp4"
      />

      <HomeOurWorkCard
        work="barbershops"
        to="barbershops"
        bgImg="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_60279528-3A99-42EC-801F-787D73FD1D7B_kovyxx.mp4"
      />

      <HomeOurWorkCard
        work="realtor"
        to="realtor"
        bgImg="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/realtor1_e8eueg.mp4"
      />

      <HomeOurWorkCard
        work="construction"
        bgImg="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_F07EEFD1-3093-4539-8951-CE01D82EB646_1_hyo9az.mp4"
        to="construction"
      />
    </section>
  </main>
</Layout>
