<p
  class="text-[clamp(3rem,4vw,5rem)] self-center bg-golden w-full text-center text-light py-8 font-fancy my-24"
>
  Build a brand <span class="font-bold bg-golden md:py-14">they remember</span>
</p>
