<p
  class="text-[clamp(3rem,4vw,5rem)] self-center bg-[#965d24] w-full text-center text-[#dbdbdb] py-8 font-fancy"
>
  Build a brand <span class="font-bold bg-[#965d24] md:py-14"
    >they remember</span
  >
</p>
