<div class="w-full text-white">
  <svg
    viewBox="0 0 1440 60"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    class="w-full h-16 text-golden"
  >
    <path
      d="M0 30 C300 60, 1140 0, 1440 30"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</div>
