---

---

<section class="flex flex-col px-8 md:px-24 py-24">
  <span class="font-fancy text-5xl self-end">04</span>
  <div>
    <p
      class="leading-14 text-[clamp(1.8rem,2vw,3rem)] px-4 max-w-5xl self-start"
    >
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias
      dolorem fuga amet assumenda obcaecati? Iusto dolore ad quod autem fugiat,
      tempore aperiam porro non! Magni soluta vitae esse quos ipsum!
    </p>
  </div>
</section>
