<div class="py-24 w-full flex flex-col px-4 md:px-24">
  <span class="self-start text-5xl font-bold font-fancy">01</span>
  <p
    class="leading-12 md:leading-14 text-[clamp(1.8rem,2vw,3rem)] px-4 max-w-5xl self-end text-[#dbdbdb]"
  >
    We don’t just shape how brands look—we shape how they live. From our home in
    Arizona, we build spaces where brands breathe culture, foster dialogue, and
    become part of something <span class="bg-[#965d24] text-white font-fancy"
      >bigger</span
    >.
  </p>
</div>
