---
const { title, description, icon: Icon } = Astro.props;
---

<li
  class="group bg-gradient-to-br from-[#965d24]/80 to-[#965d24]/60 backdrop-blur-sm p-6 rounded-xl max-w-sm transition-all duration-300 border border-[#DFB968]/20 hover:border-[#DFB968]/40 space-y-4 text-[#dbdbdb]"
>
  <Icon className="text-[#dfb968]" />

  <div class="flex items-center gap-4">
    <h3
      class="text-2xl font-fancy text-[#DFB968] transition-colors duration-300"
    >
      {title}
    </h3>
  </div>
  <p
    class="text-white/90 leading-relaxed group-hover:text-white transition-colors duration-300"
  >
    {description}
  </p>
</li>
