---
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";

export const getStaticPaths = (() => {
  return [];
}) satisfies GetStaticPaths;
---

<Layout>
  <main></main>
</Layout>
