---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="min-h-screen py-24 px-4 relative bg-black text-white w-full">
    <div class="absolute inset-0 z-10 bg-black/80"></div>

    <div class="relative z-20">
      <div class="videos grid grid-cols-6 grid-rows-2 gap-6 mx-auto">
        <video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/barbershop1_o7qvdp"
          autoplay
          controls
          muted
          loop
          playsinline
          class="rounded-xl shadow-xl col-span-3 row-span-2 w-full h-full object-cover"
        ></video>

        <video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_D756B920-CA6B-4CCE-99E3-8F2BC2EFDEBA_ihp4k7.mp4"
          autoplay
          muted
          controls
          loop
          playsinline
          class="rounded-xl shadow-xl col-span-3 row-span-4 w-full h-full object-cover"
        ></video>

        <video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_F653CC36-2930-4403-824D-55C3A66ADE96_gkjkkn_dqq9g0.mp4"
          autoplay
          muted
          controls
          loop
          playsinline
          class="rounded-xl shadow-xl col-span-6 md:col-span-3 md:row-span-2 w-full h-full object-cover"
        ></video>

        <video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_56355113-F99E-4DA0-A5E7-34BAF678751D_o0yw8i.mp4"
          autoplay
          controls
          muted
          loop
          playsinline
          class="rounded-xl shadow-xl col-span-6 row-span-4 w-full h-full object-cover"
        ></video>
        <video
          autoplay
          controls
          muted
          loop
          playsinline
          class="w-full rounded-xl shadow-xl col-span-3 row-span-2 w-full h-full object-cover"
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_89F0A062-AB5C-4E6B-967E-111CC953103A_fm6qxe.mp4"
        ></video>
        <video
          controls
          autoplay
          muted
          loop
          playsinline
          class="w-full rounded-xl shadow-xl w-full h-full col-span-3 object-cover"
          src="https://res.cloudinary.com/dhixihrqm/video/upload/copy_5A209BF6-7F9D-4DCB-A63B-39164071EB9F_xy7r9i.mp4"
        ></video>
      </div>
    </div>
  </main>
</Layout>

<style>
  video {
    transition: transform 0.2s ease-in-out;
  }

  video:hover {
    transform: scale(1.02);
  }
</style>

<script>
  const videos = document.querySelectorAll<HTMLVideoElement>(".videos video");

  for (const video of videos) {
    video.playbackRate = 0.3;
    video.addEventListener("mouseover", () => {
      video.playbackRate = 1;
      video.play();
    });
    video.addEventListener("mouseleave", () => {
      video.playbackRate = 0.3;
    });
  }
</script>
