---
import OurWorkTitle from "@/components/OurWorkTitle.astro";
import WorkVideo from "@/components/WorkVideo.astro";
import Layout from "@/layouts/Layout.astro";
import { AWS_URL_SERVICES } from "@/lib/consts";
import { Component } from "lucide-react";
---

<Layout>
  <main class="min-h-screen py-24 px-4 relative text-white w-full">
    <OurWorkTitle
      title="Other Work"
      description="We capture the value of unique businesses with photos and videos that showcase your best, no matter the industry. If you built it, sell it, or offer it — we make it stand out."
      icon={Component}
    />

    <div>
      <WorkVideo src={`${AWS_URL_SERVICES}/mp4/bartender1.mp4`} />
      <WorkVideo src={`${AWS_URL_SERVICES}/mp4/bartender2.mp4`} />
    </div>
  </main>
</Layout>
