---
import Layout from "@/layouts/Layout.astro";
import OurWorkTitle from "@/components/OurWorkTitle.astro";
import Video from "@/components/WorkVideo.astro";
import { House } from "lucide-react";
---

<Layout>
  <main class="min-h-screen py-24 px-4 relative text-white w-full">
    <OurWorkTitle
      title="Real Estate"
      description="Property listings, drone videos, walkthroughs, and social content that helps sell."
      icon={House}
    />
    <div class="relative z-20">
      <div class="videos grid grid-cols-1 md:grid-cols-2 gap-6 mx-auto">
        <Video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/realtor1_e8eueg.mp4"
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  video {
    transition: transform 0.2s ease-in-out;
  }

  video:hover {
    transform: scale(1.02);
  }
</style>

<script>
  const videos = document.querySelectorAll<HTMLVideoElement>(".videos video");

  if (videos[1]) {
    videos[1].currentTime = 20;
  }
</script>
