---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="min-h-screen py-24 px-4 relative text-white w-full">
    <div class="relative z-20">
      <div class="videos grid grid-cols-6 grid-rows-2 gap-6 mx-auto">
        <video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_C8C81FB6-F695-4595-91F9-AF1F67A17B0E_klfsdg.mp4"
          autoplay
          muted
          controls
          loop
          playsinline
          class="rounded-xl shadow-xl col-span-3 row-span-2 w-full h-full object-cover"
        ></video>

        <video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_BAE672AA-DD70-4F4E-B649-425B25330F4D_f1vtb4.mp4"
          controls
          autoplay
          muted
          loop
          playsinline
          class="rounded-xl shadow-xl col-span-3 row-span-1 w-full h-full object-cover"
        ></video>

        <video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_91B9103D-9D80-4CFB-87DA-7926E24A22AD_yca8e5.mp4"
          controls
          autoplay
          muted
          loop
          playsinline
          class="rounded-xl shadow-xl col-span-3 row-span-1 w-full h-full object-cover"
        ></video>

        <video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_573B2327-A889-4BEF-AF6D-8364B0C3565E_fizguf.mp4"
          autoplay
          controls
          muted
          loop
          playsinline
          class="rounded-xl shadow-xl col-span-2 row-span-1 w-full h-full object-cover"
        ></video>
        <video
          controls
          autoplay
          muted
          loop
          playsinline
          class="w-full rounded-xl shadow-xl col-span-6 md:col-span-4 w-full h-full object-cover"
          src="https://res.cloudinary.com/dhixihrqm/video/upload/comida2_bm5nym.mp4"
        ></video>
      </div>
    </div>
  </main>
</Layout>

<style>
  video {
    transition: transform 0.2s ease-in-out;
  }

  video:hover {
    transform: scale(1.02);
  }
</style>

<script>
  const videos = document.querySelectorAll<HTMLVideoElement>(".videos video");

  for (const video of videos) {
    video.playbackRate = 0.3;
    video.addEventListener("mouseover", () => {
      video.playbackRate = 1;
      video.play();
    });
    video.addEventListener("mouseleave", () => {
      video.playbackRate = 0.3;
    });
  }
</script>
