---
import Layout from "@/layouts/Layout.astro";
import { Utensils } from "lucide-react";
import OurWorkTitle from "@/components/OurWorkTitle.astro";
import Video from "@/components/WorkVideo.astro";
---

<Layout>
  <main
    class="min-h-screen py-24 px-4 relative text-white w-full max-w-[100vw] flex flex-col gap-8"
  >
    <OurWorkTitle
      title="restaurants"
      description="      Discover high-quality food content for restaurants, delivery services and branding campaigns. These visuals are crafted to highlight flavor, style and story."
      icon={Utensils}
    />
    <div class="z-20 w-full mx-auto">
      <div class="videos gap-6 mx-auto grid grid-cols-1 md:grid-cols-2">
        <Video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_C8C81FB6-F695-4595-91F9-AF1F67A17B0E_klfsdg.mp4"
        />
        <Video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_BAE672AA-DD70-4F4E-B649-425B25330F4D_f1vtb4.mp4"
        />

        <Video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_91B9103D-9D80-4CFB-87DA-7926E24A22AD_yca8e5.mp4"
        />

        <Video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/q_auto,f_auto:video/w_1280/copy_573B2327-A889-4BEF-AF6D-8364B0C3565E_fizguf.mp4"
        />
        <Video
          src="https://res.cloudinary.com/dhixihrqm/video/upload/comida2_bm5nym.mp4"
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  video {
    transition: transform 0.2s ease-in-out;
  }

  video:hover {
    transform: scale(1.02);
  }
</style>

<script>
  const videos = document.querySelectorAll<HTMLVideoElement>(".videos video");

  for (const video of videos) {
    video.playbackRate = 0.3;
    video.addEventListener("mouseover", () => {
      video.playbackRate = 1;
      video.play();
    });
    video.addEventListener("mouseleave", () => {
      video.playbackRate = 0.3;
    });
  }
</script>
